# MeetRooms Database Configuration

# These values are overridden by docker-compose.yml, 
# but they are here to provide standard defaults if you run without docker.
DB_HOST=127.0.0.1
DB_NAME=meetrooms
DB_USER=meetrooms_user
DB_PASSWORD=meetrooms_pass
