# MeetRooms — Environnement DEV
# Copier ce fichier en .env.dev et adapter les valeurs

PORT=8084 #Port exposé par le conteneur web
DB_HOST=db_dev #Nom du service base de données (ex: `db_dev`)
DB_NAME=meetrooms #Nom de la base de données
DB_USER=meetrooms_user #Utilisateur de la base de données
DB_PASSWORD=meetrooms_pass #Mot de passe de l'utilisateur
MYSQL_ROOT_PASSWORD=meetrooms_root #Mot de passe root MariaDB
MYSQL_DATABASE=meetrooms   #Nom de la base à créer au démarrage
MYSQL_USER=meetrooms_user #Utilisateur à créer au démarrage
MYSQL_PASSWORD=meetrooms_pass #Mot de passe de cet utilisateur
